<!DOCTYPE html>

<html>

<head>
  <title>Adairo's Microservice</title>
  <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="style.css" rel="stylesheet" type="text/css">
  </head>

<body>
  <h1>Timestamp Microservice</h1>
  <div class="container">
    <h3>Example Usage:</h3>
    <ul>
      <li><a href="/api/2015-12-25">[project url]/api/2015-12-25</a></li>
      <li><a href="/api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

    <h3>Example Output:</h3>
    <p class="code">
      {"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}
    </p>
    <h3>Enter your own date:</h3>
    <form class="field" id="date-form">
      <label for="custom-date">Date</label>
      <div style="display:flex; gap:0.2rem">
        <input type="date" required name="custom-date" id="custom-date">
        <input type="submit" value="Enviar">
      </div>
    </form>
    <script>
      const form = document.getElementById("date-form");
      const dateInput = document.getElementById("custom-date")

      form.addEventListener("submit", (e) => {
        e.preventDefault()
        location.href = `api/${dateInput.value}`
      })
    </script>
  </div>
  <div class="footer">
    
  </body>

</html>